{% load compress %} {% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Face Recognition Camera Feed</title>
    <style>
      #loading {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
        color: #000;
      }
    </style>
    <script>
      function getCSRFToken() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, 10) === "csrftoken=") {
              cookieValue = decodeURIComponent(cookie.substring(10));
              break;
            }
          }
        }
        return cookieValue;
      }

      function showLoading() {
        document.getElementById("loading").style.display = "block";
      }

      function hideLoading() {
        document.getElementById("loading").style.display = "none";
      }

      async function sendFrame(imageBase64) {
        const csrfToken = getCSRFToken();
        try {
          const response = await fetch("{% url 'detect_faces_camera' %}", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
              "X-CSRFToken": csrfToken,
            },
            body: `image=${encodeURIComponent(imageBase64)}`,
          });

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          const result = await response.json();
          console.log(result); // Log the result to the console

          // Display the result on the frontend
          const resultElement = document.getElementById("result");
          if (result && result.UserID) {
            resultElement.innerHTML = `UserID: ${result.UserID}`;
          } else {
            resultElement.innerHTML = "No UserID detected.";
          }
        } catch (error) {
          console.error("Error fetching data:", error);
        }
      }

      function startCamera() {
        const video = document.querySelector("video");
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then((stream) => {
            video.srcObject = stream;
            video.onloadedmetadata = () => {
              video.play();
              captureFrame(video);
            };
          })
          .catch((err) => {
            console.error("Error accessing camera: ", err);
          });
      }

      function captureFrame(video) {
        const canvas = document.createElement("canvas");
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const context = canvas.getContext("2d");

        setInterval(() => {
          context.drawImage(video, 0, 0, canvas.width, canvas.height);
          const imageBase64 = canvas.toDataURL("image/jpeg").split(",")[1];
          sendFrame(imageBase64);
        }, 1000); // Capture a frame every second
      }

      document.addEventListener("DOMContentLoaded", () => {
        startCamera();
      });
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>
  <body>
    {% csrf_token %}
    <div id="loading">Loading...</div>
    <div
      class="bg-primary w-full h-full pb-10 flex justify-center items-center"
    >
      <div
        class="bg-primary p-12 flex justify-center items-center min-h-screen"
      >
        <div
          class="w-4/5 lg:w-customFrame bg-white text-black rounded-3xl shadow-lg flex flex-col items-center py-5"
        >
          <img
            src="{% static 'assets/logo-bi.svg' %}"
            alt="logo"
            class="mb-4 w-32"
          />
          <h1 class="text-black text-center mb-4" style="font-size: 32px">
            BI - Presence
          </h1>

          <div class="grid justify-items-center" style="width: max-content">
            <div
              class="flex items-center justify-center bg-white border-4 rounded-lg border-primary w-full md:w-96 h-96"
            >
              <video
                autoplay
                playsinline
                class="w-full h-full object-cover object-center"
              ></video>
            </div>
            <div id="result" class="text-black text-center mt-4"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
