{% load compress %} {% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Face Recognition Camera Feed</title>
    <style>
      #loading {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
        color: #000;
      }
      /* Modal styles */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      }
      .modal-content {
        background-color: #fefefe;
        margin: 7% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: fit-content; /* Could be more or less, depending on screen size */
        text-align: center;
        border-radius: 10px;
      }
    </style>
    <script>
      let modalVisible = false; // State variable to track modal visibility
      let modalTimeout; // Timeout ID for closing the modal
      let countdownInterval; // Interval ID for countdown

      let responseDummy = {
        type: 0,
        status: 1,
        createdAt: "2024-07-11T15:19:41.6886208+07:00",
        fullName: "Josua Adriel",
        message: "Presensi Masuk Tercatat!",
      };
      function formatDateTime(rawDateTime) {
        const date = new Date(rawDateTime);

        // Mendapatkan komponen tanggal
        const day = String(date.getDate()).padStart(2, '0');
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Bulan dimulai dari 0
        const year = date.getFullYear();

        // Mendapatkan komponen waktu
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');

        // Membentuk format akhir
        const formattedDate = `Tanggal: ${day}-${month}-${year}`;
        const formattedTime = `Waktu: ${hours}:${minutes}:${seconds}`;

        return { formattedDate, formattedTime };
    }

      function getCSRFToken() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, 10) === "csrftoken=") {
              cookieValue = decodeURIComponent(cookie.substring(10));
              break;
            }
          }
        }
        return cookieValue;
      }

      function showLoading() {
        document.getElementById("loading").style.display = "block";
      }

      function hideLoading() {
        document.getElementById("loading").style.display = "none";
      }

      async function sendFrame(imageBase64) {
        if (modalVisible) return; // Ignore if the modal is currently visible or in cooldown

        const csrfToken = getCSRFToken();
        try {
          const response = await fetch("{% url 'detect_faces_camera' %}", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
              "X-CSRFToken": csrfToken,
            },
            body: `image=${encodeURIComponent(imageBase64)}`,
          });

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          } else {
            const responseData = await response.json();
            const confidence = responseData.predictionResult.confidence;
            const userId = responseData.predictionResult.UserID;

            if (userId === "unknown") {
              //console.log("DATA UNKNOWN");
              showModal(-2, "", "", "Data Tidak Ditemukan!", confidence);
              // showModal(userId, confidence);
            } else {
              try {
                const apiResponse = await fetch("https://2108-103-243-178-32.ngrok-free.app/api/presences/ml-result", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    confidence: confidence,  // Replace with your actual confidence value
                    userId: userId  // Replace with your actual userId
                  }),
                });

                if (!apiResponse.ok) {
                  throw new Error(`HTTP error! Status: ${apiResponse.status}`);
                  showModal(4, "", "", "Data Tidak Ditemukan!", confidence);
                }

                const apiResponseData = await apiResponse.json();
                console.log("API Response:", apiResponseData);

                // Display the result in a modal
                if (
                  apiResponseData &&
                  apiResponseData.type &&
                  apiResponseData.fullName &&
                  apiResponseData.message
                ) {
                  showModal(
                    apiResponseData.type,
                    apiResponseData.createdAt,
                    apiResponseData.fullName,
                    apiResponseData.message,
                    confidence 
                  );
                } 
              } catch (error) {
                console.error("Failed to connect to the API:", error);
                showModal(4, "", "", "Data Tidak Ditemukan!", confidence);
              }
            }
          }
        } catch (error) {
          console.error("Error fetching data:", error);
        }
      }

      function showModal(type, createdAt, fullName, message, confidence) { //message so far gabutuh, kalo mau dipake mungkin bisa ga kalo message nya based on type, "Selamat Datang, ${fullName}!" atau "Sampai Jumpa Lagi, ${fullName}!"
        modalVisible = true; // Set modal visibility state
        const modal = document.getElementById("myModal");
        const modalContent = document.getElementById("modalContent");
        let countdown = 5;
        const { formattedDate, formattedTime } = formatDateTime(createdAt);

        if (type === 0) {
          //masuk
          modalContent.innerHTML = `
            <h1 class='text-6xl font-bold mb-5'>${message}</h1>
            <h2 class='text-3xl mb-1'>Selamat Datang, ${fullName}!</h2> 
            <p class ='text-2xl mb-1'>Confidence: ${confidence.toFixed(2)}%</p>
            <p class ='text-2xl mb-1'>${formattedDate}</p>
            <p class ='text-2xl mb-5'>${formattedTime}</p>
            <p>Silakan keluar dari layar dalam <span id="countdown">${countdown}</span> detik.</p>
          `;
        } else if (type === 1) {
          //keluar
          modalContent.innerHTML = `
            <h1 class='text-6xl font-bold mb-5'>${message}</h1>
            <h2 class='text-3xl mb-1'>Sampai Jumpa Lagi, ${fullName}!</h2>
            <p class ='text-2xl mb-1'>Confidence: ${confidence.toFixed(2)}%</p>
            <p class ='text-2xl mb-1'>${formattedDate}</p>
            <p class ='text-2xl mb-5'>${formattedTime}</p>
            <p>Silakan keluar dari layar dalam <span id="countdown">${countdown}</span> detik.</p>
          `;
        }  else if (type === 3) {
          //dua kali absen
          modalContent.innerHTML = `
            <h1 class='text-6xl font-bold mb-5'>${message}</h1>
            <h2 class='text-3xl mb-1'>Nama: ${fullName}</h2>
            <p class ='text-2xl mb-1'>${formattedDate}</p>
            <p class ='text-2xl mb-5'>${formattedTime}</p>
            <p>Silakan keluar dari layar dalam <span id="countdown">${countdown}</span> detik.</p>
          `;
        }  else if (type === -2) {
          //data tidak ditemukan (UID unknown)
          modalContent.innerHTML = `
            <h1 class='text-6xl font-bold mb-5'>Data Tidak Ditemukan!</h1>
            <p>Silakan keluar dari layar dalam <span id="countdown">${countdown}</span> detik.</p>
          `;
        }
          else { //API BE error dan error lainnya
          modalContent.innerHTML = `
            <h1 class='text-6xl font-bold mb-5'>${message}</h1>
            <p>Silakan coba lagi dalam <span id="countdown">${countdown}</span> detik.</p>
            `;
        }

        modal.style.display = "block";

        countdownInterval = setInterval(() => {
          countdown--;
          document.getElementById("countdown").innerText = countdown;
        }, 1000);

        modalTimeout = setTimeout(() => {
          clearInterval(countdownInterval); // Clear the countdown interval
          modal.style.display = "none";
          modalVisible = false; // Reset modal visibility state
        }, 5000);
      }


      function startCamera() {
        const video = document.querySelector("video");
        navigator.mediaDevices
          .getUserMedia({ video: true })
          .then((stream) => {
            video.srcObject = stream;
            video.onloadedmetadata = () => {
              video.play();
              captureFrame(video);
            };
          })
          .catch((err) => {
            console.error("Error accessing camera: ", err);
          });
      }

      function captureFrame(video) {
        const canvas = document.createElement("canvas");
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const context = canvas.getContext("2d");

        let lastSent = 0; // Variable to store the timestamp of the last sent frame

        const intervalMillis = 1000; // Interval in milliseconds (1 second)

        setInterval(() => {
          const now = Date.now();
          if (now - lastSent >= intervalMillis) {
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageBase64 = canvas.toDataURL("image/jpeg").split(",")[1];
            sendFrame(imageBase64);
            lastSent = now; // Update the last sent timestamp
          }
        }, intervalMillis); // Capture a frame every intervalMillis
      }

      document.addEventListener("DOMContentLoaded", () => {
        startCamera();
      });
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>
  <body>
    {% csrf_token %}
    <div id="loading">Loading...</div>
    <div
      class="bg-primary w-full h-full pb-10 flex justify-center items-center"
    >
      <div
        class="bg-primary p-12 flex justify-center items-center min-h-screen"
      >
        <div
          class="w-4/5 lg:w-customFrame bg-white text-black rounded-3xl shadow-lg flex flex-col items-center py-5"
        >
          <img
            src="{% static 'assets/logo-bi.svg' %}"
            alt="logo"
            class="mb-4 w-32"
          />
          <h1 class="text-black text-center mb-4" style="font-size: 32px">
            BI - Presence
          </h1>

          <div class="grid justify-items-center" style="width: max-content">
            <div
              class="flex items-center justify-center bg-white border-4 rounded-lg border-primary w-full md:w-96 h-96"
            >
              <video
                autoplay
                playsinline
                class="w-full h-full object-cover object-center"
              ></video>
            </div>
            <div id="statusText" class="text-black text-center mt-4">
              Silakan arahkan wajah ke kamera!
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <p id="modalContent"></p>
      </div>
    </div>
  </body>
</html>
